{% include header.html, title: "Renati Group - About"  %}
        <div class="row">
            <div class="container">
                <div style="padding-top: 50px">
                    <p>1) The Past: The  Renati Group was established in <strong>2014</strong> with the intention of making a <strong>difference</strong> in the petroleum industry by introducing a more <strong>personal</strong> and <strong>technology-driven</strong> way of doing business through a <strong>range</strong> of <strong>unique</strong> product  offerings.</p>
                    <p>2) The Present: Since 2014, the Renati Group has expanded, adding another 4 companies to the Group. Within seven years the four original companies have grown to become leaders and major players in their respective fields.</p>
                    <p>With a combined annual volume of over 350 million litres, the Renati Group has established itself as a leader in the petroleum industry.</p>
                    <img class="img-responsive" src="/images/timeline.png" alt="Timeline" usemap="#timelineMap"/>
                    <map name="timelineMap">
                        <area shape="rect" coords="283,464,-1,0" href="https://nito.co.za/">
                        <area shape="rect" coords="287,463,511,1" href="https://www.tfn.co.za/home/">
                        <area shape="rect" coords="514,0,720,464" href="https://codecollective.com/">
                        <area shape="rect" coords="945,0,722,464" href="https://renatigroup.co.za/">
                        <area shape="rect" coords="1165,0,948,464" href="https://www.bauzer.co.za/">
                        <area shape="rect" coords="1170,464,1441,0" href="https://renati.tech/">
                    </map>
                    <p>3) The Future: As a group Renati believes in being innovative and proactive in the way it conducts its business.</p>
                    <p>As such our vision is to <strong>modernise</strong> and <strong>change</strong> the way suppliers <strong>sell and trade</strong> fuel and how buyers <strong>buy fuel</strong>.</p>
                    <p>Through <strong>ground-breaking</strong>use of technology, media platforms and online trading platforms, Renati’s vision is to successfully create a <strong>trading environment</strong> where both <strong>suppliers</strong> and <strong>buyers</strong> can trade, based on a <strong>market-driven</strong> ‘willing buyer, willing seller’ principle.</p>
                    <p>The group’s <strong>growth</strong> (with an average <strong>25% p.a.</strong> organic growth over the past eight years) is <strong>testimony</strong> to the fact that our <strong>approach</strong>, <strong>strategies</strong> and <strong>focus</strong> are successful and <strong>well-received</strong> by the market.</p>
                  </div>
            </div>
        </div>

{% include page-footer.html %}