{% include header.html, title: "Renati Group - Companies"  %}
        <div class="row">
            <div class="container">
                <div class="col-md-7 col-xs-12">
                    <h1>Group companies</h1>
                    <h3>The  Group comprises the following companies:</h3>
                    <p><strong style="color: #F57321">TruckFuelNet</strong>: Specialising in providing a  complete <strong>on-road refuelling solution</strong> driven by <strong>technology</strong>, giving  customers the ability to not only refuel at <strong>discounted</strong> prices but manage  their fuel <strong>expenditure</strong> on a <strong>real-time</strong> basis through a <strong>comprehensive</strong> management system.</p>
                    <p><strong>Bauzer</strong>:  Bauzer uses <strong>technology</strong> and <strong>innovative</strong> methods to service the <strong>bulk  fuel-trading</strong> market. With combined <strong>management</strong> experience of over <strong>70  years</strong> in the industry, we understand the <strong>complexities</strong> and <strong>pitfalls</strong> of the <strong>fuel trading</strong> market and have the <strong>solutions</strong> our customers  need.</p>
                    <p><strong style="color: #005BAA">Code Collective</strong>: Code Collective provide, build and  service <strong>custom-designed software solutions</strong> to be the <strong>ideal medium</strong> to achieve your core <strong>strategies</strong> and <strong>objectives</strong>. Our focus is on  growth, efficiency, simplicity and accuracy. </p>
                    <p><strong style="color: #B2C735">Nito Energy</strong>:  Focusing on the <strong>wholesale fuel trade</strong>, Nito has proven itself in the  market to be a <strong>trustworthy</strong> and <strong>competitive</strong> independent fuel  wholesaler.</p>

              </div>
            </div>
        </div>
            <p class="clearfix"></p>

{% include page-footer.html %}