{% include header.html, title: "Renati Group - Companies" %}
<div class="row">
    <div class="container">

        <div class="grid">
            <div><img src="/images/TruckFuelNet_background.png" alt="" style="border: 4px solid var(--unnamed-color-f37321);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #F37321;
                opacity: 1; width:264px; height: 264px;"></div>
            <div><img src="/images/NitoEnergy_background.png" alt="" style="width: 264px;
                height: 264px;
                border: 4px solid var(--unnamed-color-b2c735);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #B2C735;
                opacity: 1;"></div>
            <div><img src="/images/CodeCollective_background.png" alt="" style="width: 264px;
                height: 264px;
                border: 4px solid var(--unnamed-color-28bcd6);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #28BCD6;
                opacity: 1;"></div>
            <div><img src="/images/RenatiSoftware_background.png" alt="" style="width: 264px;
                height: 264px;
                border: 4px solid var(--unnamed-color-005baa);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #005BAA;
                opacity: 1;"></div>
            <div><img src="/images/RenatiTech_background.png" alt="" style="width: 264px;
                height: 264px;
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #903B7B;
                opacity: 1;"></div>
            <div><img src="/images/RenatiExchange_background.png" alt="" style="width: 264px;
                height: 264px;
                border: 4px solid var(--unnamed-color-f47321);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #F47321;
                opacity: 1;"></div>
            <div><img src="/images/RenatiCaptial_background.png" alt="" style="width: 264px;
                height: 264px;
                border: 4px solid var(--unnamed-color-b2c735);
                background: #00000080 0% 0% no-repeat padding-box;
                border: 4px solid #B2C735;
                opacity: 1;"></div>
          </div>



    </div>
    <p class="clearfix"></p>

    {% include page-footer.html %}