{% include header.html, title: "Renati Group - Companies" %}
<div class="row">
    <div class="container">

        <div class="groupCompanyGrid">
            <div class="groupCompanyDiv" ID="gcDivTruckFuelNet">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">TRUCKFUELNET</div>
                <img src="/images/TruckFuelNet_background.png" alt="" style="border: 4px solid #F37321;">
            </div>
            <div class="groupCompanyDiv" ID="gcDivNitoEnergy">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">NITO ENERGY</div>
                <img src="/images/NitoEnergy_background.png" alt="" style="border: 4px solid #B2C735;">
            </div>
            <div class="groupCompanyDiv" ID="gcDivCodeCollective">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">CODE COLLECTIVE</div>
                <img src="/images/CodeCollective_background.png" alt="" style="border: 4px solid #28BCD6; ">
            </div>
            <div class="groupCompanyDiv" ID="gcDivRenatiSoftware">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">RENATI SOFTWARE</div>
                <img src="/images/RenatiSoftware_background.png" alt="" style="border: 4px solid #005BAA;">
            </div>
            <div class="groupCompanyDiv" ID="gcDivRenatiTech">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">RENATI TECH</div>
                <img src="/images/RenatiTech_background.png" alt="" style="border: 4px solid #903B7B;">
            </div>
            <div class="groupCompanyDiv" ID="gcDivRenatiExchange">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">RENATI EXCHANGE</div>
                <img src="/images/RenatiExchange_background.png" alt="" style="border: 4px solid #F47321;">
            </div>
            <div class="groupCompanyDiv" ID="gcDivRenatiCapital">
                <div class="groupCompanyOverlay"></div>
                <div class="groupCompanyOverlayText">RENATI CAPITAL</div>
                <img src="/images/RenatiCapital_background.png" alt="" style="border: 4px solid #B2C735;">
            </div>
        </div>
    </div>
    <p class="clearfix"></p>

    {% include page-footer.html %}