{% include header.html, title: "Renati Group - Empowerment" %}
<div class="row">
  <div class="container">
    <div class="col-md-7">
      <p>
        The Renati Group aims to make a <strong>positive and long-lasting</strong> contribution to the
        <strong>country</strong> and
        our <strong>community</strong> through various initiatives, either in <strong>partnership</strong> with
        <strong>credible</strong> organization
        or <strong>in-house</strong>. One of our Key focuses within the Group is to make a difference in the lives of
        the underprivileged and also to offer encouragement and motivation to those in need.
      </p>
    </div>

  </div>
</div>
<div class="row">
  <div class="container">
    <div>
      <h2>Making a difference</h2>
      <div class="col" style="border: 1px solid black;">
        <img class="img-responsive" src="/images/TheWell_logo.png">
        <p>
          The Well was birthed out of an opportunity to serve people on a spiritual level. The main purpose of The Well is to reach and touch
          the lives of many people. Part of its purpose is the desire to be able to reach people on a physical level, in partnership with various stakeholders, especially in the
          transport sector. We endeavor to partner with those sharing a similar mindset. Our ultimate goal is to serve those in dire need and to give back to society.
        </p>
      </div>
      <div class="col" style="border: 1px solid black;">
        <img class="img-responsive" src="/images/MES_logo.png">
        <p>
          MES is a national organisation that provides food, shelter and clothes to the less fortunate. TFN contributes financially to the activities of MES in the city center of Kempton Park. View www.mes.org.za for more information on MES activities and work
        </p>
      </div>
      <div class="col" style="border: 1px solid black;">
        <img class="img-responsive" src="/images/Impies_logo.png">
        <p >
          We are a financial sponsor for a local primary school to provide food parcels for less unfortunate children coming to school without a lunchbox or parents who cannot afford to give their children food for the day.
        </p>
      </div>
      <div class="col" style="border: 1px solid black;">
        <img class="img-responsive" src="">
        <p>
          Luthemba Lethu service the community through outreach and rehabilitation programs in the prison, schools, community and police. Destiny House is a farm for prison inmates to prepare them for the workplace after prison.
        </p>
        <p> 
          Problem children in schools are invited to weekend camps where the love of God, respect for yourself and a vision for the future are ministered to
          them. Upliftment of the community, rehabilitation of drug addicts and alcoholics and identifying of criminal elements to the police in Kempton
          Park city center change the lives of people and make the city center a safer place!
        </p>
        <p>
          All Lethumba programs are based on the Word of God and Christian principles served in love to the people and for the Glory of God!
        </p>
      </div>
    </div>
  </div>
</div>

{% include page-footer.html %}