---
mission: "AS A GROUP RENATI BELIEVES IN BEING PROACTIVE AND INNOVATIVE IN THE WAY IT CONDUCTS BUSINESS."
intro: "Leaders of **innovation** in the petroleum industry, the Renati Group offers a **wide range** of products to accommodate an **array of needs**. From **on-road refuelling** to **wholesale fuel distribution** we have worked to establish **dynamic**, **top-quality** offerings through our expert **market knowledge** and **business strategy**."
---
{% include header.html, title: "Renati Group"  %}
        <div class="row">
            <div class="container">
                <div class="col-md-7 col-xs-12">
                    <h1>Welcome</h1>
                    {{ intro | markdownify }}
                </div>
            </div>
        </div>

        <div class="row about">
            <div class="container">
                <div class="blockholder">
                    <div class="col-md-4 abox">
                        <div class="aintro"><img class="ico pull-left" src="/images/about.png" alt="" />About us</div>
                        <div class="ainfo"> The Renati Group was established in <strong>2014</strong> with the intention of making a <strong>difference</strong> in the petroleum industry by introducing a more <strong>personal</strong> and <strong>technology-driven</strong> way of doing business through a range of <strong>unique</strong> product offerings.<a href="/about/"><img class="pull-right info" src="/images/more.png" alt="more info" /></a>
                        </div>
                    </div>
                    <div class="col-md-4 abox">
                        <div class="aintro"><img class="ico pull-left" src="/images/group.png" alt="" />Group companies</div>
                        <div class="ainfo"> At Renati Group we believe in the famous adage <strong>&lsquo;action is the foundational key to all success&rsquo;, </strong>and as such are always looking to further <strong>improve</strong> and <strong>innovate</strong> our services to provide <strong>quality</strong> experiences our clients will remember.<a href="/companies/"><img class="pull-right info" src="/images/more.png" alt="more info" /></a>
                        </div>
                    </div>
                    <div class="col-md-4 abox">
                        <div class="aintro"><img class="ico pull-left" src="/images/team.png" alt="" />Our team</div>
                        <div class="ainfo"> You&rsquo;re only as good as the <strong>sum of your parts</strong> and at Renati Group we&rsquo;re proud to have a world-class <strong>team of professionals </strong>on our side, continually applying their business savvy and industry <strong>know-how</strong> to the <strong>benefit</strong> of our clients.<a href="/team/"><img class="pull-right info" src="/images/more.png" alt="more info" /></a>
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </div>
            </div>

        </div>

<!-- Include Netlify Identity for authentication -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
</script>

{% include page-footer.html %}