{% include header.html, title: "Renati Group - Group Shareholders" %}
<div class="row">
    <div class="container">
        <div style="display:flex; justify-content: space-between;">
            <a href="https://www.linkedin.com/in/stevie-ferreira-bb913172/">
                <img src="/images/Stevie_linkedIn.jpg" />
            </a>
            <a href="https://www.linkedin.com/in/neil-de-kock-b919581b6/">
                <img src="/images/Neil_linkedIn.jpg" style="position: relative; left: 13%" />
            </a>
        </div>
    </div>
</div>
<p class="clearfix"></p>

{% include page-footer.html %}