<div class="container">
    <div class="col-sm-3 logos"><img class="img  centre" src="/images/tfn.png" alt="TruckFuelNet" /></div>
    <div class="col-sm-3 logos"><img class="img  centre" src="/images/bauzer.png" alt="Bauzer" /></div>
    <div class="col-sm-3 logos"><img class="img  centre" src="/images/nito.png" alt="NitoEnergy" /></div>
    <div class="col-sm-3 logos"><img class="img  centre" src="/images/codecollective.png" alt="Code Collective" /></div>
    <span class="clearfix"></span>
</div>