<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/renati.css">

</head>

<body>
    {% include nav.htm %}
    
    <div style="display:flex;align-items: stretch;padding: 0;justify-content: center;" class="container">
        <div class="text-center" style="flex-grow: 1;background-color: #b6ff56;padding: 0.25em;">
        The South African government has made resources available in order to understand and deal with <b>COVID-19</b>. Please refer to the following 
        <a href="https://sacoronavirus.co.za/" target="_blank">link</a>.
        </div>
    </div>    

    <div class="container">

        <div class="banner nomargin">
            <div class="watermark"><img class="swirl" src="/images/watermark.png" alt="" /></div>
            <img class="img-responsive" src="/images/banner.jpg" alt="" />
            {% if page.url == "/" %}<div class="mission ">As a group Renati believes in being proactive and innovative in the way it conducts business.</div>{% endif %}
        </div>
