<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Renati Group</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/renati.css">

</head>

<body>
    {% include nav.htm %}
    <div class="container">

        <div class="banner nomargin">
            <div class="watermark"><img class="swirl" src="/images/watermark.png" alt="" /></div>
            <img class="img-responsive" src="/images/banner.jpg" alt="" />
        </div>


        <div class="row">
            <div class="container">
                <div class="col-md-7 col-xs-12">
                    <h1>About us</h1>
                    <h3>The past</h3>
                    <p>The  Renati Group was established in <strong>2014</strong> with the intention of making a <strong>difference</strong> in the petroleum industry by introducing a more <strong>personal</strong> and <strong>technology-driven</strong> way of doing business through a <strong>range</strong> of <strong>unique</strong> product  offerings.</p>
                    <p>The <strong>three</strong> companies launched at the <strong>inception</strong> of the Renati Group were:<br>
                      <br>
  <strong style="color: #F57321">TruckFuelNet</strong>: Specialising in providing a  complete <strong>on-road refuelling</strong> solution driven by <strong>technology</strong>, giving  customers the ability to not only refuel at <strong>discounted prices</strong> but also  manage their <strong>fuel expenditure</strong> on a <strong>real-time basis</strong> through a  comprehensive <strong>management system</strong>.<br>
                      <br>
  <strong style="color: #B2C735">Nito Energy</strong>: Focusing on the <strong>wholesale  fuel trade</strong>, Nito has proven itself in the market as a <strong>trustworthy</strong> and <strong>competitive</strong> independent fuel wholesaler.<br>
                      <br>
  <strong style="color: #005BAA">Code Collective</strong>:  Established as the in-house <strong>software development</strong> firm responsible for <strong>developing</strong> and <strong>supporting</strong> all software requirements for TruckFuelNet, the company  has <strong>expanded</strong> into developing software for a <strong>variety</strong> of  industries.  </p>
                    <p class="clearfix"></p>
                  <div class="nomargin callout">
                        <div class="topleft"><img src="/images/top-left.png" alt=""/></div>
                        Within five years the three original companies have grown to become leaders and major players in their respective fields.
                      <div class="botright"><img src="/images/bot-right.png" alt=""/></div>
                  </div>
                </div>
            </div>
        </div>
            <p class="clearfix"></p>
        <div class="row">
            <div class="container">
                <div class="col-md-7">
                  <h3>The present</h3>
                    <p>
                  Since  2014, the Renati Group has <strong>expanded</strong>, adding another company, <strong>Bauzer</strong>,  to the Group. Bauzer  was established with a <strong>vision</strong> to change the way <strong>fuel is traded</strong> in  the South African market. Using knowledge gained over <strong>many years</strong> and  applying a new way of <strong>thinking</strong>, Bauzer&rsquo;s goal is to become the preferred <strong>marketplace</strong> for buying and selling wholesale fuel in South Africa,  through its modern, advanced and fully-integrated <strong>fuel trading</strong> platform.<br><br>
                  Within <strong>five years</strong> the three original companies have grown to become <strong>leaders</strong> and <strong>major players</strong> in their respective fields.<br><br>
                  With  its <strong>120 depots</strong>, TruckFuelNet is South Africa&rsquo;s <strong>largest</strong> independent commercial on-road <strong>refuelling network</strong>, servicing customers  across Southern Africa in excess of <strong>16 million litres</strong> per month. The  company processes over <strong>50,000 </strong>customer transactions <strong>per month</strong> through its <strong>closed-loop</strong> transaction processing system! With its new <strong>fleetcard</strong>,  TruckFuelNet is again leading the market. This <strong>innovative</strong> solution  replaces a physical card with <strong>smartphone technology</strong> to allow  transporters to <strong>manage</strong> their <strong>on-road fuel </strong>expenses, for absolute, <strong>real-time</strong> control over <strong>spending</strong> and <strong>administration</strong> of  driver on-road expenses.     <br><br>
                  With  its <strong>loyal</strong> customer base, Nito has been able to maintain its <strong>wholesale</strong> volumes of over <strong>six million</strong> litres per month. <br><br>
                  Over  and above its work for the Renati Group, Code Collective has developed <strong>successful  software solutions</strong> in the Medical, FMCG and Residential Estate  sectors.  <br><br>
                  With a <strong>combined</strong> annual volume of <strong>over 300 million litres</strong>, the Renati  Group has established itself as one of the <strong>top three</strong> independent  companies in the petroleum industry in South Africa. </p>

                  <h3>The future </h3>
                    <p>As a  group Renati believes in being <strong>innovative</strong> and <strong>proactive</strong> in the  way it conducts its business.<br><br>
                    As such our vision is to <strong>modernise</strong> and <strong>change</strong> the way suppliers <strong>sell  and trade</strong> fuel and and how buyers <strong>buy fuel</strong>. <br><br>
                    Through <strong>ground-breaking</strong> use of technology, media platforms and online trading  platforms, Renati&rsquo;s vision is to successfully create a <strong>trading environment </strong>where  both <strong>suppliers</strong> and <strong>buyers</strong> can trade, based on a <strong>market-driven</strong> &lsquo;willing buyer, willing seller&rsquo; principle.<br><br>
                    The group&rsquo;s <strong>growth</strong> (with an average <strong>25% p.a.</strong> organic growth over the past eight years) is <strong>testimony</strong> to the fact that  our <strong>approach</strong>, <strong>strategies</strong> and <strong>focus</strong> are <strong>successful</strong> and <strong>well-received</strong> by the market.</p>
                </div>
                <div class="col-md-4 col-md-offset-1 decoration">
                </div>
            </div>
        </div>

        <div class="row companies">
            {% include companies.htm %}
        </div>
        <div class="row footer">
            <div class="container">
                {% include footer.htm %}
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script>
	$(document).ready(function () {
		var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('activea');
        $('ul.nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('activea');
    });
</script>
</body>

</html>